.order-screen {
  width: 40%;
  margin: 10px auto;
}

.icon--name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0;
}

.title-box {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}

.content-box {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.order--price {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  font-size: 25px;
}

.bid-already {
  width: 10%;
  color: #fff;
  background-color: rgb(204, 158, 158);
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

.edit-destroy-btn-wrapper {
  display: flex;
  justify-content: space-around;
}

.edit-destroy-btn {
  margin: 50px 0;
  height: 30px;
  width: 200px;
  padding: 0 30px;
}

.order-pink-btn {
  text-decoration: none;
  text-align: center;
  background-color: #e7625b;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 1vw;
}

.order-destroy {
  text-decoration: none;
  background-color: rgb(206, 207, 201);
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgb(94, 91, 91);
  margin: 20px 0px;
  padding: 2vh 50px;
}

.show-back-btn-contents {
  margin: 30px 0 5% 0;
}

.show-back-btn {
  background: #ebe0df;
  border: 1px solid #e08681;
  color: rgb(134, 119, 119);
  padding: 15px 150px;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
  margin-left: 50px;
  text-decoration: none;
}

.to-bid-btn {
  background: #e08681;
  border: 1px solid #e08681;
  color: rgb(249, 249, 249);
  padding: 15px 120px;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
  margin-left: 50px;
  text-decoration: none;
}