.order-screen {
  width: 40%;
  margin: 10px auto;
}

.icon--name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0;
}

.title-box {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}

.content-box {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.order--price {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  font-size: 25px;
}