<footer class="l_footer">

  <div class="l_footer-inner">
    <div class="l_footer-menu">
      <dl class="l_footer-box">
        <dt class="l_footer-menu__tit">私たちについて</dt>
        <dd>
        <a class="l" href="#">ステートメント</a>	
        <a class="l" href="#">「DIY家具屋さん」の強み</a>
        <a class="l" href="#">コーポレートアイデンティティ</a>
        </dd>
      </dl>
      <dl class="l_footer-box">
        <dt class="#">企業情報</dt>
        <dd>
        <a class="l" href="#">採用情報</a>	
        <a class="l" href="#">営業資格</a>
        <a class="l" href="#">会社概要・沿革</a>
        </dd>
      </dl>
      <dl class="l_footer-box">
        <dt class="l_footer-menu__tit">ご利用案内</dt>
        <dd>
        <a class="l" href="#">ガイドライン</a>	
        <a class="l" href="#">利用規約</a>
        <a class="l" href="#">お問い合わせ</a>
        </dd>
      </dl>
    </div>

    <div class="l_footer-info">所在地
      <dl class="adr">
        <dd class="ad">〒184-1234</dd>
        <dd class="ad">東京都小金井市12-34-567　公園南ビル</dd>
        <dd class="ad">TEL　03-1234-5678</dd>
        <dd class="ad">FAX　03-1234-5679</dd>
      </dl>
      <dl>
        <dd><a class="l" href="#">ニュース</a></dd>
        <dd><a class="l" href="#" target="_blank">採用情報</a></dd>
        <dd><a class="l" href="#" target="_blank">English</a></dd>
      </dl>
      
    </div>
  </div>

</footer>


<div class="l_footer-copyright">
  <div class="l_footer-copyright__inner">
    Copyright 2020 DIY handyman Co.,Ltd, All rights reserved
  </div>
</div>