<%= render "shared/header" %>

<div class="wrapper">
  <div>依頼者側
    <%= link_to image_tag("waterfall.png", class:"waterfall-icon"), "/" %>
  </div>
  <div>DIY側
    <%= link_to image_tag("cat.png", class:"cat-icon"), "/" %>
  </div>
</div>
<div></div>